::-webkit-scrollbar {
    display: block;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
    
::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background: #8b979a; 
}

body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

body, html {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding:0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}

.trans-mid {
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: white;
    background-image: url('home.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 550px;
    justify-content: center;
    align-content: center;
}

.layer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.downloadableText {
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    z-index: 1;
    padding-left: 80px;
    font-family: 'Open Sans';
}

.name {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 50px;
    text-align: left;
    padding-left: 20px;
    z-index: 1;
    padding-right: 40%;
    padding-left: 80px;
}

.copyRight {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: #000000;
    color: #808080;
    bottom: 0;
    right: 0;
    text-align: center;
    padding-top: 10px;
    z-index: 3;
}

#crText {
    font-family: 'Open Sans';
    font-size: 15px;
}


.topBar {
    width: 100%;
    height: 55px;
    background-color: white;
    border-top: 1px solid #909090;
    display: flex;
    flex-direction: column;
}

.catHolder {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    overflow-x: auto;
    text-align: center;
    padding-bottom: 3px;
    justify-content: center;
    align-content: center;
}

.ourGallery {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15 15px;
}

#imageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.imgs {
    display: flex;
    flex-direction: row;
    width:400px;
    height: 280px;
    margin: 13px;
    padding-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1), 
    0 2px 4px rgba(0,0,0,0.1), 
    0 4px 8px rgba(0,0,0,0.1), 
    0 8px 16px rgba(0,0,0,0.1),
    0 16px 32px rgba(0,0,0,0.1), 
    0 32px 64px rgba(0,0,0,0.1);
    transition: 0.5s;
}

.imgs:hover {
    filter: brightness(1.3) saturate(1);
}

.stockImgText {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
}

#showImgClk {
    width: 90%;
    height: auto;
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.architecture, .landscapes, .flowers, .pets, .animals, .temples {
    align-self: flex-end !important;
    padding: 10px 20px 5px 20px;
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 600;
    color: 808080;
    cursor: pointer;
    border-bottom: 3px solid white;
}

#textDiv { 
    display: block;
    top: 92% !important;
    font-size: 16px !important;
    padding-top: 5px;
    color: white;
    padding-left: 0px;
    width: 150px;
}

.lni-close {
    display: none;
    position: fixed;
    font-size: large;
    float: right;
    margin-top: 15px;
    right: 15px;
    cursor: pointer;
    color: black;
    font-weight: 900;
    z-index: 4;
}

.lni-download {
    position: relative;
    display: none;
    font-size: large;
    cursor: pointer;
    color: white;
    top: 94% !important;
    right: -160px;
    width: 20px;
    height: 20px;
}

.lni-frame-expand {
    position: relative;
    display: none;
    font-size: large;
    cursor: pointer;
    color: white;
    top: 94% !important;
    right: -180px;
    width: 20px;
    height: 20px;
}

#infoContainer {
    display: none;
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgb(0, 0, 0, 0.8) !important;
    z-index: 3 !important;
}
.info {
    display:  flex;
    flex-direction: column;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #fff;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 0px !important;
    box-shadow:5px 6px 10px rgba(0,0,0,0.2) !important;
    overflow-x: auto;
    overflow-y: auto;
}

.aboutI {
    position: absolute;
    background-color: #3473f9;
    text-align: center;
    padding-top: 7px;
    color: white;
    border-radius: 70px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    align-items: center;
    font-family: 'Open Sans';
    color: ivory;
    font-size: 13px;
    width: 30px;
    height: 30px;
}

#aboutContainer {
    display: none;
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgb(0, 0, 0, 0.8) !important;
    z-index: 3 !important;
}
.about {
    display:  flex;
    flex-direction: column;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #fff;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 0px !important;
    box-shadow:5px 6px 10px rgba(0,0,0,0.2) !important;
    overflow-x: auto;
    overflow-y: auto;
}

.loaderDiv {
    display: block;
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgb(0, 0, 0, 0.9) !important;
    z-index: 4 !important;
}

.loaderDiv img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}

.lni-code {
    margin-left: 5px;
    margin-right: 5px;
}

.lni-camera {
    margin-left: 5px;
    margin-right: 5px;
}

.logoDiv {
    position: absolute;
    display:  flex;
    flex-direction: row;
    top: 20px;
    left: 20px;
    align-items: center;
    font-family: 'Open Sans';
    color: ivory;
    font-size: 17px;
}

.logoDiv img {
    width: 40px;
    height: 38px;
    margin-right: 20px;
    border-radius: 4px;
}

.whoDidThis {
    height: 60px;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Open Sans';
    margin-bottom: 120px;
    border-bottom: 4px solid black;
}

.mid {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.varunDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.varunText {
    font-size: 28px;
    font-family: 'Open Sans';
    font-weight: 600;
} 

.varunJobText {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
} 

.varunDiv img {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1), 
    0 2px 4px rgba(0,0,0,0.1), 
    0 4px 8px rgba(0,0,0,0.1), 
    0 8px 16px rgba(0,0,0,0.1),
    0 16px 32px rgba(0,0,0,0.1), 
    0 32px 64px rgba(0,0,0,0.1);
    margin-left: 50px;
    filter: contrast(-1);
}

.varunColumnFlex {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.santhoshDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.santhoshText {
    font-size: 28px;
    font-family: 'Open Sans';
    font-weight: 600;
} 

.santhoshJobText {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
} 

.santhoshDiv img {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1), 
    0 2px 4px rgba(0,0,0,0.1), 
    0 4px 8px rgba(0,0,0,0.1), 
    0 8px 16px rgba(0,0,0,0.1),
    0 16px 32px rgba(0,0,0,0.1), 
    0 32px 64px rgba(0,0,0,0.1);
    margin-right: 50px;
    filter: brightness(2.3);
}

.santhoshColumnFlex {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.versionText {
    position: absolute;
    bottom: 45px;
    text-align: center;
    width: 100%;
    font-size: 10px;
    font-family: 'Open Sans';
    font-weight: 600;
}

@media screen and (max-width: 780px) {

    body {
        padding: 0;
        margin: 0;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .trans-mid {
        display: flex;
        flex-direction: column;
        z-index: 1;
        color: white;
        background-image: url('home.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 450px;
        justify-content: center;
        align-content: center;
        padding-right: 0px;
    }

    .layer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
        background-color: rgba(0, 0, 0, 0.25);
    }

    
    .name {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 25px !important;
        text-align: left;
        padding-left: 20px;
        z-index: 1;
        padding-right: 20px;
        padding-left: 20px;
    }


    .topBar {
        width: 100%;
        height: 55px;
        background-color: white;
        border-top: 1px solid #909090;
        display: flex;
        flex-direction: column;
    }

    .catHolder {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin-top: 15px;
        overflow-x: auto;
        text-align: center;
        padding-bottom: 3px;
        padding-left: 20px;
        justify-content: left;
        align-content: left;
    }

    .ourGallery {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }

    #imageContainer {
        -ms-flex:100%; /* IE10 */
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
    
    .imgs {
        display: flex;
        flex-direction: row;
        width:100% !important;
        margin: 0px 0px 35px 0px !important;
        padding-bottom: 20px;
        padding-top: 10px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .imgs:hover {
        filter: brightness(1.3) saturate(1);
    }    

    .stockImgText {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 20px;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 20px;
    }

    .architecture, .landscapes, .flowers, .pets, .animals, .temples {
        align-self: flex-end;
        padding: 10px 20px 5px 20px;
        font-size: 16px;
        font-family: "Open Sans";
        font-weight: 600;
        color: 808080;
        cursor: pointer;
        border-bottom: 3px solid white;
        justify-content: none;
        align-content: none;
        padding-left: 30px;
        padding-right: 30px;
    }

    .copyRight {
        position: fixed;
        width: 100%;
        height: 40px;
        bottom: 0;
        background-color: #000000;
        color: #808080;
        bottom: 0;
        right: 0;
        text-align: center;
        padding-top: 10px;
        z-index: 3;
    }

    .downloadableText {
        font-size: 14px;
        font-family: 'Open Sans';
        font-weight: 400;
        padding-left: 20px;
    }

    #textDiv { 
        top: 93% !important;
        font-size: 12px !important;
        padding-top: 5px;
        padding-left: 20px;
        width: 110px !important;
    }
    
    .lni-download {
        font-size: 13px !important;
        font-weight: 900;
        cursor: pointer;
        color: white;
        right: 70px !important;
        top: 4% !important;
    }
    
    .lni-frame-expand {
        font-size: 13px !important;
        font-weight: 900;
        cursor: pointer;
        color: white;
        right: 45px !important;
        top: 4% !important;
    }

    #showImgClk {
        position: absolute !important;
        width: 90% !important;
        height: auto !important;
    }

    .varunDiv img {
        width: 80px;
        height: 80px;
        border-radius: 100px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1), 
        0 2px 4px rgba(0,0,0,0.1), 
        0 4px 8px rgba(0,0,0,0.1), 
        0 8px 16px rgba(0,0,0,0.1),
        0 16px 32px rgba(0,0,0,0.1), 
        0 32px 64px rgba(0,0,0,0.1);
        margin-left: 30px;
        filter: contrast(-1);
    }

    .varunText {
        font-size: 20px;
        font-family: 'Open Sans';
        font-weight: 600;
        margin-bottom: 10px;
    } 
    
    .varunJobText {
        font-size: 10px;
        font-family: sans-serif;
        font-weight: 500;
    } 

    .santhoshDiv img {
        width: 80px;
        height: 80px;
        border-radius: 100px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1), 
        0 2px 4px rgba(0,0,0,0.1), 
        0 4px 8px rgba(0,0,0,0.1), 
        0 8px 16px rgba(0,0,0,0.1),
        0 16px 32px rgba(0,0,0,0.1), 
        0 32px 64px rgba(0,0,0,0.1);
        margin-right: 30px;
        filter: brightness(2.3);
    }

    .santhoshText {
        font-size: 20px;
        font-family: 'Open Sans';
        font-weight: 600;
        margin-bottom: 10px;
    } 
    
    .santhoshJobText {
        font-size: 10px;
        font-family: sans-serif;
        font-weight: 500;
    } 

    .santhoshDiv {
        margin-bottom: 60px;
    }

    .whoDidThis {
        height: 60px;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Open Sans';
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 780px) {
.imgs:hover {
    transform: scale(1.1);
}
}